[submodule "third_party/argon2"]
	path = third_party/argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
[submodule "third_party/libsodium"]
	path = third_party/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = https://github.com/sqlite/sqlite.git
